body {
    background-image: url(/images/tempbgimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

form {

    text-align: center;
    margin-top: 15em; 
}

form > h1 {
    font-size: 4em;
    color: white;
}

#homeButton {
    float: top;
    position: fixed;
    top: 350px;
}

#mtnButton {
    float: top;
    position: fixed;
    top: 450px;
}

#showAll {
    margin: 1em;
}

.formbox {
    
    background: rgb(106,106,106);
    background: linear-gradient(0deg, rgba(106,106,106,0.6138830532212884) 0%, rgba(180,180,180,0.6867121848739496) 56%, rgba(255,255,255,0.5494572829131652) 100%);
}   

.formbox , select {
    width: 9em;
    height: 2.5em;
    font-size: 18px;
    text-align: center;
    border-radius: 10em;

}

.formbox , button { 
    width: 10em;
    height: 3.5em;
    border-radius: 10em;

}

main {
    background: rgb(163,175,194);
    background: linear-gradient(0deg, rgba(163,175,194,0.7063200280112045) 0%, rgba(255,231,193,0.5998774509803921) 52%, rgba(200,246,255,0.4990371148459384) 100%);
    backdrop-filter: blur(1.8px);
    margin-left: auto;
    margin-right: auto;
    width: 33.5em;
    border-radius: .5em;
    padding: .1em;
    margin-top: 1em;

}

main > div {

    backdrop-filter: blur(1px);
    text-align: center;
    border: 1px solid black;
    border-radius: .5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 30em;
    background: rgba(255, 255, 255, 0.536);
}